<div style="width: 50vw; margin-right: auto; margin-left: auto;">
    <h3>
        Empório Suplementos
    </h3>

    Sobre a Empório
    A Empório Suplementos é a maior loja online exclusiva de suplementos alimentares do Brasil.

    E manter a liderança de um mercado que cresce muito em todo país, com diversos concorrentes e mudanças de cenário,
    sejam elas econômicas ou peculiares do segmento, não é tarefa fácil.

    Contamos com departamentos de tecnologia da informação e criação internos, que acompanham as novidades e tendências
    mundias, e que permitem proporcionar aos nossos clientes uma navegação prática, rápida, e principalmente segura, com
    constantes atualizações. Nosso site conta com excelente nível de proteção, e é certificado por renomadas empresas de
    segurança online, como SiteBlindado, Comodo e Fcontrol.

    Na parte de atendimento ao consumidor contamos com profissionais especializados, que passam por treinamentos e
    atualizações frequentes e são supervisionados por nutricionistas, proporcionando ao cliente uma excelente
    experiência de atendimento, seja através de e-mail, chat online, ou televendas.

    Trabalhamos com mais de 5000 itens a pronta entrega, e mais de 50 marcas entre as melhores nacionais e importadas, e
    oferecemos ao cliente a melhor condição de compra, seja através do preço mais baixo, ou com brindes exclusivos.

    A maior parte do processo de separação de pedidos e postagem é automatizada, permitindo uma enorme agilidade e
    assertividade.

    Nossas postagens são imediatas após a identificação de pagamento, e como possuímos contrato direto com os Correios,
    o prazo de entrega é reduzido frente a grande maioria da concorrência.

    Todos produtos comercializados são autorizados pela Anvisa e todas as vendas são emitidas com notas fiscais,
    garantindo assim a procedência de todos itens.

    POR QUE “Empório”?
    História
    Apaixonado por esportes e musculação desde a adolescência, nosso fundador e atual CEO da empresa, era moderador de
    diversos grupos de discussão na internet sobre atividades físicas e responsável por um blog de grande sucesso.
    Naquela época, por conta do seu trabalho diário, o único tempo que restava para alimentar o blog com informações e
    moderar os fóruns era no início da manhã, bem cedo, o que acabou rendendo o apelido dos usuários de “madruga”
    (aquele que cedo madruga).
    Nome
    Além da história por trás do nome, o significado de "empório" representa com fidelidade a essência da empresa.
    Etimologia
    Maturus: do latim, significa “que vem em momento bom”. Parente do “matutinus”, cedo, ligado ao pré-amanhecer.
    Empório é uma corruptela da palavra madrugada, que, em sua raiz, traz algo que chega. Um prenúncio, um Arauto
    (Arquétipo). Bom nome para varejo, oferta, oportunidade.
    Negócio
    O sucesso na internet trouxe um insight: unir paixão e negócios. Preços mais baixos, atendimento personalizado e
    frete grátis, além do já conhecido nome “Empório”, fizeram de “Madruga”, o CEO da maior loja virtual especializada
    em suplementos alimentares no Brasil.
    Sucesso
    No mercado há quase 10 anos, a Empório Suplementos se destaca não só pela qualidade de atendimento, através de
    especialistas, mas também pela grande agilidade no envio dos pedidos.
</div>