<header>
  <div class="px-3 py-2 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a routerLink="/home" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <img src="assets/Empório.png" style="width: 100px;" alt="" srcset="">
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li class="list-item">
            <a href="#" class="nav-link text-white" [routerLink]="['/home']" routerLinkActive="rota-ativa">
              <i class="bi bi-house"></i>
              Home
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white" [routerLink]="['/ajuda']" routerLinkActive="rota-ativa">
              <i class="bi bi-question"></i>
              Ajuda
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white" [routerLink]="['/sobre-nos']" routerLinkActive="rota-ativa">
              <i class="bi bi-info-circle"></i>
              Sobre nós
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white" [routerLink]="['/login']" routerLinkActive="rota-ativa">
              <i class="bi bi-box-arrow-left"></i>
              Sair
            </a>
          </li>
          <li>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>