<div class="card" style="width: 18rem; height: 62vh; cursor: pointer;" [routerLink]="['/produto/'+produto?.codigoProduto]">
  <img [src]="produto?.fotoProduto" class="card-img-top p-3" style="height: 60%;" alt="foto">
  <div class="card-body">
    <h5 class="card-title">{{produto?.nomeProduto}}</h5>
    <h3><strong>{{produto?.valorProduto}}</strong></h3>
    
      <p class="card-text text-truncate" [innerHTML]="produto?.descricaoProduto"></p>

  </div>
  <a class="btn btn-primary m-3">Comprar Produto</a>
</div>