p{
    overflow: hidden; // Removendo barra de rolagem
text-overflow: ellipsis; // Adicionando "..." ao final
display: -webkit-box;
-webkit-line-clamp: 3; // Quantidade de linhas
-webkit-box-orient: vertical; 
}
h5{
    overflow: hidden; // Removendo barra de rolagem
    text-overflow: ellipsis; // Adicionando "..." ao final
    display: -webkit-box;
    -webkit-line-clamp: 1; // Quantidade de linhas
    -webkit-box-orient: vertical; 
}