<ul class="nav justify-content-center my-3">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">WHEY PROTEIN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">CREATINA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">PRÉ-TREINO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">VITAMINA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">CARBOIDRATO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">BARRAS</a>
    </li>
  </ul>