<div class="container div-box">
    <div class=" container gap-4 login-box" >
        <i class="bi bi-person-circle"></i>
        <p>USER LOGIN</p>
        <div class="lock">
            <i class="bi bi-person"></i>

            <input type="text" placeholder="E-mail ou usuário">
        </div>
           <div class="lock">
            <i class="bi bi-lock"></i>
            <input type="text" placeholder="Digite sua senha">
           </div>
        
        <button routerLink="/home">LOGIN</button>
    </div>
    
</div>